body{
    font-family: font_name, Comfortaa, sans-serif;
    font-size: 12px;
}

.grid {
    width: 100%;
}

.btn-circle {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px 0;
    font-size: 45px;
    line-height: 2.0;
    border-radius: 100%;
  }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}


/******************
Switch 1 Specific Styles Start
******************/

.box{
	background: #eee;
}

input[type="checkbox"].switch{
	font-size: 15px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch:checked{
	background: #ff8f0e;
  }
  
  input[type="checkbox"].switch:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch:checked:after{
	left: calc(100% - 1.5em);
  }
