<div class="container">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-sm-6">
				<h1>Avvia</h1>
				<div>
					<a href="" class="btn btn-default btn-circle" ng-click="start()">
						<i class="glyphicon glyphicon-off"></i>
					</a>
				</div>
			</div>

			<div class="col-sm-1">
				<div style="border-left:1px solid #ccc;height: 195px;"></div>
			</div>

			<div class="col-sm-5 text-left">
				<h3> Impostazioni </h3>
				<hr class="hrClass">

				<div class="row">
					<div class="col-sm-5" style="padding-top: 7px;">Oggetto unico: </div>
					<div class="col-sm-7 box">
						<input class="switch" type="checkbox" ng-model="oneObj">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5" style="padding-top: 2px;">Ordinamento oggetti:</div>
					<div class="col-sm-7">
						<select ng-model="selectedOrder">
							<option ng-repeat="x in orders" value="{{x.order}}">{{x.ita}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<hr>

		<!-- WIDGET CONTENT -->
		<div>
			<p class="lead">Risultato</p>
			<!-- WIDGET BODY -->
			<div>
				<div id="resultGrid" ui-grid="gridOptions" ui-grid-edit class="grid"></div>
				<!-- FOOTER -->
				<div class="grid">
					<div class="pull-left">
						<span style="font-style: italic;">
							<a ng-click="toggleFiltering(gridOptions, gridApi)" class="clickable btn-xs btn-primary">
								<i class="glyphicon glyphicon-filter"></i>
							</a> Visibili {{gridApi.grid.renderContainers.body.visibleRowCache.length}} su {{gridApi.grid.rows.length}} totali
						</span>
					</div>
				</div>
			</div>
			<!-- FINE WIDGET BODY -->
		</div>
	</div>
</div>